/* SPDX-License-Identifier: GPL-2.0-only */
/* Copyright 2023 The DT-Utils Authors <oss-tools@pengutronix.de> */
image __IMAGE__ {
	hdimage {
		align = 32K
		partition-table-type = gpt
		disk-uuid = __GPT_LOOPDEV_DISKUUID__
	}

	partition oldstate {
		image = /dev/zero
		in-partition-table = false
		offset = 32K
		size = 32K
	}

	partition part1 {
		image = /dev/zero
		size = 64K
	}

	partition part2 {
		image = /dev/zero
		size = 32K
		partition-type-uuid = 4778ed65-bf42-45fa-9c5b-287a1dc4aab1
		partition-uuid = __GPT_LOOPDEV_PARTUUID__
	}

	partition oldstate2 {
		image = /dev/zero
		in-partition-table = false
		offset = 160K
		size = 32K
	}
}

/* vim: set tabstop=8 noexpandtab : */
