/* SPDX-License-Identifier: GPL-2.0-only */
image __IMAGE__ {
	hdimage {
		align = 32K
		partition-table-type = none
	}

	partition oldstate {
		image = /dev/zero
		offset = 32K
		size = 32K
	}

	partition part1 {
		image = /dev/zero
		size = 64K
	}

	partition part2 {
		image = /dev/zero
		size = 32K
	}
}

/* vim: set tabstop=8 noexpandtab : */
