*~
*.o
.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/cscope.*
/dt-utils-*.tar.xz
/libtool
/stamp-h1
/tags
/TAGS
/build/

/fdtdump
/src/libdt-utils.pc
/barebox-state
/dtblint
