# SPDX-License-Identifier: GPL-2.0-only
# Copyright 2013-2023 The DT-Utils Authors <oss-tools@pengutronix.de>
*~
*.o
.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/cscope.*
/dt-utils-*.tar.xz
/libtool
/stamp-h1
/tags
/TAGS
/build/
/test/test-results

/fdtdump
/src/libdt-utils.pc
/barebox-state
/dtblint
